<button [routerLink]="['']">VOLVER</button>
<p>
    <body>

        <div class="signupbox">
        <h1>Sign up</h1>
        <form action="">
          <p>Full name</p>
          <input type="text" placeholder="Full Name">
          <p>Email</p>
          <input type="text" placeholder="Email">
          <p>Password</p>
          <input type="password" placeholder="Password">
          <input type="submit" value="Sign up">
          <a href="#">I agree with privacy and policy </a><br>
          <a href="#">Already have an account?</a>
          <a [routerLink]= "['']" > Log in</a>
        </form>
        </div>
        
        </body>
</p>
